:root[data-theme="light"] {
  --bg-footer-color: #444;
}

:root[data-theme="dark"] {
  --bg-footer-color: #111;
}

footer {
  background-color: var(--bg-footer-color);
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  bottom: 0;
  left: 0;
  z-index: 999;
  width: 100%;
}

footer a {
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
}

footer a:hover {
  color: #bbdddd;
}

#findepage {
  padding: 24px;
}

#themeSwitcher {
  position: fixed;
  right: 20px;
  height: 51px;
  width: 51px;
}

#back-to-top {
  display: block;
  position: fixed;
  height: 51px;
  right: 80px;
  z-index: 999;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

@media all and (max-width: 390px) {
  #themeSwitcher {
    bottom: 80px;
  }
  #back-to-top {
    bottom: 80px;
  }
}
@media all and (min-width: 390px) {
  #themeSwitcher {
    bottom: 50px;
  }
  #back-to-top {
    bottom: 50px;
  }
}
