header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

#header {
  background-image: url("/img/matrix2.gif");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

#photoPresentation {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 0px;
  padding: 0px;
}

h1 {
  margin: 0;
}
