header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

#header {
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.img_bg_1 {
  background-image: url("/img/matrix1.gif");
}
.img_bg_2 {
  background-image: url("/img/matrix2.gif");
}
.img_bg_3 {
  background-image: url("/img/matrix3.gif");
}
.img_bg_4 {
  background-image: url("/img/matrix4.gif");
}

#photoPresentation {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 0px;
  padding: 0px;
}

h1 {
  margin: 0;
}
