.testContainer {
  border: 1px solid #4f5873;
  display: flex; /* Set inline elements */
  flex-direction: row;
  width: 600px;
  height: 1200px;
  overflow: scroll;
}

.testFlexContainer {
  border: 1px solid red;
  display: flex; /* Set inline elements */
  flex-direction: row;
  width: 1200px;
  height: 600px;
}
